header {
    position: fixed;
    top: 0;
    background-color: #2B2D4240;

    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 3rem;
    gap: 3rem;

    .navlinks {
   display: none;   
}

@media (width > 768px) {
    .navlinks {
        display: block;
    }
    .hamburger {
        display: none;
    }
    
    justify-content: left;
}
}

