.booking-card{
    width: 65%;
    height: 105px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #D0DDDC;
    align-items: center;
    margin: 1rem auto;
    padding-right: 1rem;
}

.booking-time-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 2rem;

    h2{
        font-size: 2.2rem;

    }
    span{
        font-size: 20px;
    }
}

.booking-instructor, .booking-location, .booking-spots{
    font-size: 24px;
}

img{
    cursor: pointer;
}

.accordion-icon {
  transition: transform 0.3s ease;
  transform-origin: center;
}

.accordion-icon.rotated {
  transform: rotate(180deg);
}

/* Responsiv design för tablet */
@media (max-width: 1024px) and (min-width: 768px) {
    .booking-card{
        width: 90dvw;
    }
}

/* Responsiv design för tablet */
@media (max-width: 768px) {
    .booking-card {
        width: 90dvw;
        
    }

    .booking-title{
        position: relative;
        right: 8rem;
        text-align: left;
    }

    .booking-time-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 2rem;

        h2{
            font-size: 2.2rem;

        }
        span{
            font-size: 20px;
        }
    }

    .booking-instructor, .booking-location, .booking-spots{
        display: none;
    } 
}